{
  "rules": [
    {
      "rulePriority": {{ rule_priority }},
      "description": "Expire images older than {{ expire_days }} days",
      "selection": {
          "tagStatus": "any",
          "countType": "sinceImagePushed",
          "countUnit": "days",
          "countNumber": {{ expire_days }} 
      },
      "action": {
        "type": "expire"
      }
    }
  ]
}
